<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{PostForm.html :: head('Home')}"></form>
<head> <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/></head>
<body>
<form th:replace="~{PostForm.html :: header}"></form>

<div class="body-content">
    <h2 th:text="#{home.welcome}">Welcome (design)!</h2>
    <h2 th:text="${session.currentUser}" th:if="${isAuthenticated}"></h2>
    <img src="../static/images/user.png" th:src="@{/images/user.png}" alt="Forum logo"/>

</div>

<form th:replace="~{PostForm.html :: footer}"></form>
</body>
</html>